html, body, header, main, footer, section, div,
h1, h2, h3, p, a, ul, li {margin: 0; padding: 0;}
input,button,textarea {-webkit-appearance: none; -moz-appearance: none; appearance: none; font-family: inherit; border-radius: 0; box-sizing: border-box; color: inherit;
    font-size: 16px;
    transform: scale(0.8);
}

html,
body{width: 100%; height: 100%;}

body {background-color: #fafafa; color: #202011;}

header {display: flex; width: calc(100% - 20px); padding: 5px 10px; height: 60px; line-height: 60px;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.12);
    border-radius: 0 0 10px 10px;
}
header #headerTitle {width: 70%;}
header #headerlink {width: calc(30% - 10px); text-align: right; padding-right: 10px;}
header #headerlink a {color: #202011; font-size: 1.07rem;}

header h1 {font-style: italic; font-weight: 500;}

main ul {list-style: none;}
main ul li ul {margin-left: 10px;}
main ul li::before,
main ul li ul li::before {content: "-"; margin-right: 6px;}

main section {margin: 50px auto; width: 100%; max-width: 1000px;}
main section.content {min-height: 25vh;}

main .sectionTitle {text-align: center;}
main .sectionTitle h2 {font-size: 1.6rem; line-height: 1.7rem; font-weight: 600;}
main .sectionTitle p {font-size: 1.3rem; line-height: 1.4rem; font-weight: 500;}
main section div.textWrap p {font-size: 1.05rem; line-height: 1.4rem; font-weight: 400; letter-spacing: 0.02rem;}
main .textWrap { margin: 0 auto;
    width: 90%;
    max-width: 800px;
}
main section#service div.textWrap,
main section#works div.textWrap {display: flex; flex-wrap: wrap;}
main section#works div.WorksWrap img {width: 100%; max-width: 300px;}
main section#works div.WorksWrap h3,
main section#service div.ServiceWrap h3 {font-size: 1.1rem; line-height: 1.2rem;}
main section#works div.WorksWrap p,
main section#service div.ServiceWrap p {font-size: 1rem; line-height: 1.1rem;}
main section#works div.WorksWrap a,
main section#service div.ServiceWrap a {color: #202011; width: 100%; display: block; text-align: right;}
main section#service div.ServiceWrap p.sys::before {content: "構成 : ";}
main section#service div.ServiceWrap p.tec::before {content: "技術 : ";}

main section#works div.WorksWrap,
main section#service div.ServiceWrap {box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.12); border-radius: 10px; padding: 8px;}
main section#service div.ServiceWrap {margin: 10px 15px; width: calc(100% - 30px); display: flex;}
main section#service div.ServiceWrap img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
main section#service div.ServiceWrap .serviceComment{
    margin-left: 10px;
    width: calc(100% - 10px);
}


form[name="contact"] p {margin: 5px 0 1px 9%;}
form[name="contact"] input,
form[name="contact"] textarea {
    width: calc(100% - 4px);
    padding: 2px;
    font-size: 1.2rem;
    border: solid 1.5px #afafaf;
    border-radius: 2px;
}
form[name="contact"] textarea {resize: vertical; height: 100px;}
form[name="contact"] button {width: 100px; border: solid 1px #121212; background-color: transparent; display: block; margin: 0 auto; padding: 5px 15px; border-radius: 10px; font-size: 1.1rem;}

@media screen and (min-width:701px) {
    main section#works div.WorksWrap {margin: 10px 15px; width: calc(33% - 44px);}
}
@media screen and (max-width:700px) {
    main section#works div.WorksWrap {margin: 10px 15px; width: calc(50% - 46px);}
}
@media screen and (max-width:500px) {
    main section#works div.WorksWrap {margin: 10px 0px; width: 100%;}
    main section#works div.WorksWrap img,
    main section#service div.ServiceWrap img {margin: 10px auto; display: block;}
    main section#service div.ServiceWrap {display: block; width: 100%; margin: 8px 0;}
}